h1 {

    border-style: solid;
    border-color: black;
    background-color: salmon

}



#indexh1 {

    border-style: solid;
    border-color: black;
    background-color: red; 


}

#form{

    width: min-content;
    border-style: solid;

}